# Data Science Tools and Ecosystem

### In this notebook, Data Science tools and Ecosystem are summerized

**Objectives:**

* Showcase using Markdown cells
* Showcase how to use numbered and non numbered lists
* Showcase how to create a table using Markdown cells
* Showcase the arithmetic capabilities of Python
* showcase how to assign Variables

Some of the popular languages that Data Scientists use are:

1. Python
2. R programming language 
3. SQL
4. Julia

some of the commonly used libraries used by Data Scientests include:

* pandas
* numpy
* matplotlib

| No. | Data Science Tools  |
|-----|---------------------|
| 1   | Jupyter Lab         |
| 2   | R Studio            |
| 3   | Apache Spark        |

Below are a few examples on arithmetic expressions in Python

In [2]:
# This is a smiple arithmetic expression to multiply then add integers.
(3*4)+5

17

In [5]:
#This simple code will convert Minutes into Hours the Variables I defined are m for minutes \ 
#hv for the 60 minutes in the hour and finally h for hours

m= 200
hv= 60
h=m/hv

print(h)

3.3333333333333335

## Author 
Basil Melibari